.barrinha{
    background-color: red;
    width: 20px;
    height: 40px;
    border-radius: 4px;
}

.subtitle{
    display: flex;
    align-items: center;
    color: red;
    gap: 16px;
}

.container{
    margin-left: 135px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.subcontainer{
    display: flex;
    gap: 20px;
}

.section{
    display: flex;
}

.hours{
    display: flex;
}